<!DOCTYPE html>
<html>
<head>
    <title>Apcis</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @Styles.Render("~/Content/style")
</head>
<body>
    <div id="wrapper">
       
      



            @RenderBody()


        </div>
   
    @RenderSection("scripts", required: false)
</body>
</html>